BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000066; FONT-FAMILY: Verdana, sans-serif; TEXT-DECORATION: underline
}
A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000066; FONT-FAMILY: Verdana, sans-serif; TEXT-DECORATION: underline
}
A:active {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000066; FONT-FAMILY: Verdana, sans-serif; TEXT-DECORATION: underline
}
A:hover {
	TEXT-DECORATION: none
}
DIV.p {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 12px; PADDING-BOTTOM: 10px; MARGIN: 0px; PADDING-TOP: 10px; FONT-FAMILY: Verdana, sans-serif
}
DIV.small {
	FONT-SIZE: 10px; FONT-FAMILY: Verdana, sans-serif
}
DIV.title {
	PADDING-LEFT: 1px; FONT-SIZE: 12px; MARGIN-BOTTOM: 1px; COLOR: #000066; LINE-HEIGHT: 9px; FONT-FAMILY: monospace; LETTER-SPACING: 2px; HEIGHT: 9px
}
DIV.main {
	BORDER-RIGHT: #000066 1px solid; BORDER-TOP: #000066 1px solid; BORDER-LEFT: #000066 1px solid; BORDER-BOTTOM: #000066 1px solid; FONT-FAMILY: Tahoma
}
DIV.bin_menuBar {
	BORDER-RIGHT: #660000 0px solid; PADDING-RIGHT: 1px; BORDER-TOP: #660000 0px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 0px; BORDER-LEFT: #660000 0px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #660000 0px solid; FONT-FAMILY: Tahoma
}
DIV.bin_subMenuBar {
	BORDER-RIGHT: #535352 1px solid; BORDER-TOP: #ffffff 1px solid; BACKGROUND: url(../image/4.gif) repeat-y; BORDER-LEFT: #ffffff 1px solid; WIDTH: 120px; BORDER-BOTTOM: #535352 1px solid; FONT-FAMILY: Tahoma
}
DIV.bin_menuElement {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 2px; BORDER-TOP: 0px; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 8pt; PADDING-BOTTOM: 2px; BORDER-LEFT: 0px; WIDTH: 109px; CURSOR: hand; COLOR: #535352; LINE-HEIGHT: 14px; PADDING-TOP: 2px; BORDER-BOTTOM: 0px; FONT-FAMILY: Tahoma; TEXT-ALIGN: left
}
DIV.bin_menuElementHover {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #535352 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #535352 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #ffffff 1px solid; FONT-FAMILY: Tahoma
}
DIV.bin_subMenuElement {
	BORDER-RIGHT: #dbdbdb 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #dbdbdb 1px solid; PADDING-LEFT: 15px; FONT-WEIGHT: normal; FONT-SIZE: 8pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #dbdbdb 1px solid; WIDTH: 130px; COLOR: #535352; LINE-HEIGHT: 14px; PADDING-TOP: 1px; BORDER-BOTTOM: #dbdbdb 1px solid; FONT-FAMILY: Tahoma; HEIGHT: 17px; TEXT-ALIGN: left
}
DIV.bin_subMenuElementHover {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #d3d3d3 1px solid; PADDING-LEFT: 15px; PADDING-BOTTOM: 1px; BORDER-LEFT: #d3d3d3 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #ffffff 1px solid; FONT-FAMILY: Tahoma; TEXT-DECORATION: underline
}
DIV.lich_b {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Tahoma; TEXT-DECORATION: none
}
